.alert {
  padding: 20px;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: italic;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.alert-success {
  background-color: #09c212;
}

.alert-danger {
  background-color: #f443369a;
  border-color: #f44336;
  color: black;
}
